*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: #043b18;
}
#wrapper {
    width: 990px;
    height: 370px;
    background-color:rgb(138, 176, 118);
    padding-left: 5px;
    padding-right: 5px;
}
#head{
    width: auto;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#coch{
    width: 33%;
    height: 200px;
    background-color: aqua;
    text-align: center;
    padding-top: 5px;
    float: left;
}
#usch{
    width: 33%;
    height: 200px;
    background-color: aqua;
    text-align: center;
    padding-top: 5px;
    float: right;
}
#res{
    width: 33%;
    height: 200px;
    background-color: aqua;
    text-align: center;
    padding-top: 5px;
    float:left;
    margin-left: 5px;
}